.intro.intro-home
  .intro-bg
  .intro-body
    .ui.container
      %h1 A better way to teach kid about sport integrity
      %ol
        %li
          Teach your kids how to play their sport correctly
        %li
          Become their sport partners
        %li
          Being engaged in their activities
  .intro-actions
    .ui.container
      %section#search-form.section-search
        .shell
          .section-inner
            .search-content
              .search-label
                Search for sport and find your course
              .search-box
                .ui.category.search.focus.sportaide_search.fluid
                  .ui.icon.input.fluid
                    %input.prompt{:autocomplete => "off", :placeholder => "Search for sport...", :type => "text"}/
                    %i.search.icon
.news-feed.ui.container
  .news-heading Newsfeed
  .ui.stackable.grid
    .eight.wide.column
      .news-hero
        .news-article
          .news-article-cover
            %img{:alt => "news", :src => @articles[0]["urlToImage"]}/
          .news-article-content
            %h3
              %a{href: @articles[0]["url"]}
                = @articles[0]["title"]
            %p
              = @articles[0]["description"]
    .eight.wide.column
      .ui.stackable.grid
        .five.wide.column
          .news-thumbnail
            .news-article
              .news-article-cover
                %img{:alt => "news", :src => @articles[1]["urlToImage"]}/
              .news-article-content
                %h3
                  %a{href: @articles[1]["url"]}
                    = @articles[1]["title"]
                %p
                  = @articles[1]["description"]
        .five.wide.column
          .news-thumbnail
            .news-article
              .news-article-cover
                %img{:alt => "news", :src => @articles[2]["urlToImage"]}/
              .news-article-content
                %h3
                  %a{href: @articles[2]["url"]}
                    = @articles[2]["title"]
                %p
                  = @articles[2]["description"]
        .five.wide.column
          .news-thumbnail
            .news-article
              .news-article-cover
                %img{:alt => "news", :src => @articles[3]["urlToImage"]}/
              .news-article-content
                %h3
                  %a{href: @articles[3]["url"]}
                    = @articles[3]["title"]
                %p
                  = @articles[3]["description"]
.available-features
  .ui.container
    .ui.stackable.grid
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Online Courses
        .feature-image
          %i.search.icon
        .feature-description
          Extend your knowledge about your kid's favorite sports to have a fun time playing with them.
        %a.show-details-btn{:href => "/dashboard/lessons"} Show Details
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Club Map
        .feature-image
          %i.map.icon
        .feature-description
          Search nearby clubs suitable for your kids today. Make sure your kids safe to find the right clubs.
        %a.show-details-btn{:href => "/dashboard/clubs/club_map"} Show Details
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Online Quiz
        .feature-image
          %i.star.icon
        .feature-description
          Check your understanding about what you have learnt about the sport rules and integrity.
        %a.show-details-btn{:href => "/dashboard/lessons"} Show Details
      .one.wide.column

.search-clubs-intro
  .ui.one.column.center.aligned.grid
    .ten.wide.column
      .search-club-title.form-head
        Find sports near you
      .ui.icon.input.postcode-search
        %input.prompt{:autocomplete => "off", :placeholder => "Enter postcode", :type => "number"}/
        %i.search.icon

%footer
  .footer-main
    .ui.container
      .ui.stackable.grid
        .five.wide.column
          .subscribe-block
            %h3 Subscribe With Us
            %form{:action => ""}
              %input{:placeholder => "Your Email", :type => "text"}/
              %button{:type => "button"} Subscribe
        .six.wide.column
  .footer-copyright
    %p Copyright © 2017 | All rights are reserved.
