.intro.intro-home
  .intro-bg
  .intro-body
    .news-feed.ui.container
      .news-heading Newsfeed
      .ui.stackable.grid
        .eight.wide.column
          .news-hero
            .news-article
              .news-article-cover
                %img{:alt => "news", :src => @articles[0]["urlToImage"]}/
              .news-article-content
                %h3
                  %a{href: @articles[0]["url"]}
                    = @articles[0]["title"]
                %p
                  = @articles[0]["description"]
        .eight.wide.column
          .ui.stackable.grid
            .five.wide.column
              .news-thumbnail
                .news-article
                  .news-article-cover
                    %img{:alt => "news", :src => @articles[1]["urlToImage"]}/
                  .news-article-content
                    %h3
                      %a{href: @articles[1]["url"]}
                        = @articles[1]["title"]
                    %p
                      = @articles[1]["description"]
            .five.wide.column
              .news-thumbnail
                .news-article
                  .news-article-cover
                    %img{:alt => "news", :src => @articles[2]["urlToImage"]}/
                  .news-article-content
                    %h3
                      %a{href: @articles[2]["url"]}
                        = @articles[2]["title"]
                    %p
                      = @articles[2]["description"]
            .five.wide.column
              .news-thumbnail
                .news-article
                  .news-article-cover
                    %img{:alt => "news", :src => @articles[3]["urlToImage"]}/
                  .news-article-content
                    %h3
                      %a{href: @articles[3]["url"]}
                        = @articles[3]["title"]
                    %p
                      = @articles[3]["description"]
  .intro-actions
    .ui.container
      %section#search-form.section-search
        .shell
          .section-inner
            .search-content
              .search-label
                Find your course
              .search-box
                .ui.category.search.focus.sportaide_search.fluid
                  .ui.icon.input.fluid
                    %input.prompt{:autocomplete => "off", :placeholder => "You can type integrity, child protection...", :type => "text"}/
                    %i.search.icon

.available-features
  .ui.container
    .ui.stackable.grid
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Online Courses
        .feature-image
          %i.search.icon
        .feature-description
          Extend your knowledge about your kid's favorite sports to have a fun time playing with them.
        %a.show-details-btn{:href => "/dashboard/lessons"} Show Details
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Club Map
        .feature-image
          %i.map.icon
        .feature-description
          Search nearby clubs suitable for your kids today. Make sure your kids safe to find the right clubs.
        %a.show-details-btn{:href => "/dashboard/clubs/club_map"} Show Details
      .one.wide.column
      .four.wide.column.feature
        .feature-header
          Online Quiz
        .feature-image
          %i.star.icon
        .feature-description
          Check your understanding about what you have learnt about the sport rules and integrity.
        %a.show-details-btn{:href => "/dashboard/lessons"} Show Details
      .one.wide.column

.search-clubs-intro
  .ui.one.column.center.aligned.grid
    .ten.wide.column
      .content
        .content__container
          %p.content__container__text
            Clubs by
          %ul.content__container__list
            %li.content__container__list__item postcode
            %li.content__container__list__item sport
            %li.content__container__list__item name
            %li.content__container__list__item address
      .ui.icon.input.postcode-search
        %input.prompt{:autocomplete => "off", :placeholder => "Enter ...", :type => "text"}/
        %i.search.icon

%footer
  .footer-main
    .ui.container
      .ui.stackable.grid
        .five.wide.column
          .subscribe-block
            %h3 Subscribe With Us
            .ui.stackable.grid.center.aligned
              .ten.wide.column
                .ui.large.input.email-subscribe
                  %input{type: 'text', placeholder:"Enter your email"}
              .six.wide.column
                %button.colins-submit
                  %svg{:height => "45", :version => "1.1", :viewport => "0 0 196 70", :width => "196", :xmlns => "http://www.w3.org/2000/svg"}
                    %rect.btn-shape.btn-bg{:fill => "#ffffff", "fill-opacity" => "1", :height => "40", :rx => "0", :ry => "0", :stroke => "#ccc", "stroke-width" => "4", :width => "190", :x => "3", :y => "3"}
                    %rect.btn-shape.btn-color{:fill => "#ffffff", "fill-opacity" => "0", :height => "40", :rx => "0", :ry => "0", :stroke => "rgb(30,205,151)", "stroke-width" => "4", :width => "190", :x => "3", :y => "3"}
                    %text.checkNode{:fill => "rgb(255,255,255)", "fill-opacity" => "1", "font-family" => "Montserrat", "font-size" => "22", "text-anchor" => "middle", :x => "96", :y => "29"}
                      ✔
                    %text.textNode{:fill => "rgb(30,205,151)", "fill-opacity" => "1", "font-family" => "Montserrat", "font-size" => "16", "text-anchor" => "middle", :transform => "scale(1)", :x => "96", :y => "29"}
                      Submit
        .six.wide.column
  .footer-copyright
    %p Copyright © 2017 | All rights are reserved.
